.cart-summary {
  position: absolute;
  width: 520px;
  max-width: 80%;
  right: -520px;
  z-index: 999;
  left: auto;
  top: 0;
  bottom: 0;
  background-color: $white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  @include transition();
  &.open {
    right: 0;
  }
}
