.slick-slider {
  .slick-prev,
  .slick-next {
    &::before {
      content: '';
      display: none;
    }
  }
  .slick-arrow {
    width: 10px;
    height: 10px;
    border-bottom: 2px solid $black;
    &.slick-disabled {
      opacity: 0.25;
    }
  }
  .slick-prev {
    border-right: 2px solid $black;
    transform: rotate(135deg);
  }
  .slick-next {
    border-left: 2px solid $black;
    transform: rotate(-135deg);
  }
}
