.subnav {
  color: $black;
  border: 1px solid $black;
  .nav-link {
    color: $black;
    text-transform: uppercase;
    font-weight: 100;
    &:hover,
    &.active {
      border-color: $black;
    }
  }
  border-color: $black;
}