<footer id="pageFooter" class="bg-dark text-white py-5">
  <div class="container mt-5">
    <div class="row">
      <div class="col-12 col-lg-2 mb-md-3">
        <a class="navbar-brand mb-4 mb-md-0" href="/">
          <img src="{{ '/img/footer-logo.png' | prepend: site.url }}" class="img-fluid" alt="CFR Logo" />
        </a>
      </div>
      <div class="col-12 col-md-6 mb-md-3 col-lg-2">
        <h4 class="h5">Company</h4>
        <ul class="nav flex-column mb-3">
          <li class="nav-item">
            <a class="nav-link" href="/pages/brochure">
            Bro-Sure
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pages/handlebar-guide">
            Bar Guide
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pages/dealers">
            Dealers
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pages/legal">
            Legal
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pages/contact">
            Contact
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pages/faq">
              FAQ
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pages/warranty">
              Warranty
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pages/instructions">
              Instructions
            </a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-md-6 col-lg-2">
        <h4 class="h5">Community</h4>
        <ul class="nav flex-column mb-3">
          <li class="nav-item">
            <a class="nav-link" href="/pages/cfr-team">
            CFR Team
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pages/cfr-homies">
            CFR Homies
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pages/about-cfr">
            About CFR
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pages/get-stoked">
            Get stoked
            </a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <h4 class="h5">Community Sign-up</h4>
        <div id="mc_embed_signup">
          <form
            action="https://cheetahfactoryracing.us6.list-manage.com/subscribe/post?u=0110121ba406dab3303aabcc8&amp;id=ff1d7d1238"
            method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
            target="_blank" noValidate>
            <div id="mc_embed_signup_scroll">
              <div class="form-group d-flex">
                <input type="email" name="EMAIL" class="email form-control" id="mce-EMAIL"
                  placeholder="Email Address" required />
                <div style="position: absolute; left: -5000px; text-indent: -5000px;" aria-hidden="true"><input type="text"
                    name="b_0110121ba406dab3303aabcc8_ff1d7d1238" tabIndex="-1" /></div>
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
                  class="btn btn-primary" />
              </div>

            </div>
          </form>
        </div>
      </div>
      <div class="col-md-6 col-lg-2">
        <h4 class="h5">Follow us</h4>
        <p class="social-nav mb-3">
          <a href="https://www.facebook.com/CHEETAHFACTORYRACING/" class="mr-3" target="blank" rel="noopener"
            aria-label="Facebook Link">
            <i class="ri-facebook-fill"></i>
          </a>
          <a href="https://twitter.com/CFRSNOW" class="mr-3" target="blank" rel="noopener"
            aria-label="Twitter Link">
            <i class="ri-twitter-fill"></i>
          </a>
          <a href="https://www.instagram.com/cheetah_snow/" target="blank" rel="noopener" aria-label="Instagram Link">
            <i class="ri-instagram-line"></i>
          </a>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="content text-center">
          <p><small>For all International orders other than the US and Canada please
              <Link href="/contact">Contact Us</Link> for assistance on Shipping costs.</small><br/>
          © {{ site.time | date: "%Y" }} Cheetah Factory Racing
          </p>
          <hr class="border-light"/>
          {% include components/country-selector.html %}

        </div>
      </div>
    </div>
  </div>
</footer>
