<header id="pageHeader" class="fixed-top bg-white">
  <div id="shopNav">
    <div class="container">
      <div class="d-flex align-items-center">
        <div class="m-auto d-none d-md-block flex-grow-1 text-center">
          <div class="editable">
            <p><a href="/products/replacement-strap/">Replacement Parts Now In Stock!</a></p>
          </div>
        </div>
        {% include components/top-nav.html %}
      </div>
    </div>
  </div>

  <nav id="mainNav" class="navbar navbar-expand-md">
    <div class="container">
      <a class="navbar-brand" href="/" aria-label="Homepage Link">
        <img src="{{ '/img/header-logo.png' | prepend: site.url }}" class="img-fluid" alt="CFR Logo" />
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#primaryNav" aria-controls="primaryNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </span>
      </button>
      {% include nav/primaryNav.html %}
    </div>
  </nav>
</header>



