<!-- JS Dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"
  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"
  defer></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"
  defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mixitup/3.3.1/mixitup.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lunr.js/2.3.5/lunr.min.js" defer></script>

<script defer>
    window.data = {
      {% for page in site.pages %}
        "{{ page.url | slugify }}": {
        "title": "{{ page.title | xml_escape }}",
        "url": "{{  page.url | xml_escape }}",
        "path": "{{ page.url | xml_escape }}"
      },
      {% endfor %}
      {% for product in site.products %}
        "{{ product.slug }}": {
          "title": "{{ product.title | xml_escape }}",
          "url": "{{  product.url | xml_escape }}",
          "categories": "{{ product.categories }}",
          "brands": "{{ product.brands }}",
          "path": "{{ product.url | xml_escape }}"
        }
        {% unless forloop.last %}, {% endunless %}
      {% endfor %}
    };
</script>

<script defer>
  $(document).ready(function(){
    var controller = new ScrollMagic.Controller();

    // $('[data-lazy-type]').each(function () {
    //   var currentElement = this;
    //   var $this = $(this);
    //   var type = $this.data('lazy-type');
    //   var lazySrc = $this.data('lazy-src');
    //   var scene = new ScrollMagic.Scene({
    //     triggerElement: currentElement,
    //     reverse: false,
    //     offset: -500
    //   })
    //     .on('enter', function () {
    //       if (type == 'image') {
    //         $this.attr('src', lazySrc);
    //       }
    //       if (type == 'bg-image') {
    //         $this.css('background-image', 'url(' + lazySrc + ')')
    //       }
    //       if (type == 'video') {
    //         $this.attr('src', lazySrc);
    //       }
    //       if (type == 'bg-video') {
    //         lazyLoadBgVideo($this);
    //       }
    //     })
    //     .on('exit', function () {
    //       if (type == 'bg-video') {
    //         // test to confirm this is working
    //         currentElement.pause();
    //       }
    //     })
    //     .setClassToggle(currentElement, "active")
    //     .addTo(controller);
    // })

    // TB: Not sure if this is needed?

    // $('.product-thumbnail').on('click', function(){
    //   var image = $(this).data('image');
    //   $('#featured-image').attr('src', image);
    // })

    // TB: Handled on the React side

    // var getQueryString = function (field, url) {
    //   var href = url ? url : window.location.href;
    //   var reg = new RegExp('[?&]' + field + '=([^&#]*)', 'i');
    //   var string = reg.exec(href);
    //   return string ? string[1] : null;
    // };

    // TB: Commenting out because this does not seem to be working and I am now handling it on the React side.

    // if ($('.product_collection').length){
    //   //mixitup
    //   var initialFilter = 'all';
    //   var urlParams = getQueryString('filter');
    //   if (urlParams) {
    //     initialFilter = '.' + urlParams;
    //     console.log(initialFilter)
    //   }

    //   var mixer = mixitup('.product_collection', {
    //     load: {
    //       filter: initialFilter
    //     },
    //     controls: {
    //       toggleDefault: 'none',
    //     },
    //     callbacks: {
    //       onMixClick: function (state, originalEvent) {
    //         console.log('The control "' + this.innerText + '" was clicked');
    //         var filterString = this.dataset.filter;
    //         var filter = filterString.replace(".", "");
    //         const urlParams = new URLSearchParams(window.location.search);
    //         if (filter == 'all') {
    //           urlParams.set('filter', '');
    //           window.location.search = urlParams;
    //         } else {
    //           urlParams.set('filter', filter);
    //           window.location.search = urlParams;
    //         }
    //       }
    //     }
    //   });
    // }

   var searchIndex = lunr(function () {
      this.ref("id");
      this.field("title", { boost: 10 });
      this.field("categories");
      this.field("brands");
      for (var key in window.data) {
        this.add({
          "id": key,
          "title": data[key].title,
          "categories": data[key].categories,
          "brands": data[key].brands
        });
      }
    });
    
    function getQueryVariable(variable) {
      var query = window.location.search.substring(1);
      console.log('query', query)
      if(query !== ''){
        var vars = query.split("&");
        for (var i = 0; i < vars.length; i++) {
          var pair = vars[i].split("=");
          if (pair[0] === variable) {
            return decodeURIComponent(pair[1].replace(/\+/g, "%20"));
          }
        }
      }
    }

    var searchTerm = getQueryVariable("q");
    // creation of searchIndex from earlier example
    var results = searchIndex.search(searchTerm);
    var resultData = results.map(function (match) {
      return data[match.ref];
    });
    console.log(searchTerm)
    console.log('result', resultData);

    // resultData from previous example
    resultsString = "";   

    resultData.forEach(function (r) {
      resultsString += "<li class='my-4'>";
      resultsString += "<a class='result' href='" + r.url + "'><h3>" + r.title + "</h3></a>";
      resultsString += "</li>"
    });

    console.log('results string', resultsString);
    if(resultsString == '') {
      document.querySelector("#no-results").innerHTML = 'This search returned no results, please try again';
    }
    else {
      document.querySelector(".results-showing").innerHTML = "Showing results for <strong id='search-term'>" + searchTerm + "</strong>";
    }
    
    document.querySelector("#search-results").innerHTML = resultsString;
  })
</script>