---
layout: page
title: CFR Homies
footer_image: /img/cfr-footer-8.jpg
---

<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content editable">
          <h1>CFR Homies</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Facere modi unde sint laudantium excepturi reprehenderit eum
            porro quam est aperiam? Omnis sapiente ipsam distinctio
            corrupti praesentium assumenda ab beatae debitis!
          </p>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Adipisci, possimus molestiae. Repellendus excepturi ullam
            nemo? Cum dolorem, cumque modi fugiat maiores fugit possimus
            numquam odit molestias aliquid eos quae aperiam rerum mollitia
            accusamus sapiente qui. Tempore ab, possimus quos consequuntur
            expedita eligendi iste rem dolorem natus eos corrupti quis
            accusantium.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">

        <div class="content">
          <div class="responsive-card-deck cards-lg-4 cards-md-2">
            {% for object in site.data.homies.homies %}
              {% assign item = site.homies | where: "slug", object | first %}
              <a href="{{ item.link }}" target="_blank" rel="noopener" class="card">
                <div class="bg-image aspect-1x1" style="background-image: url({{ item.image }})">
                </div>
                <div class="card-body px-0">
                  <h2 class="h4">{{ item.name }}</h2>
                </div>
              </a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% include footer-image.html %}