---
layout: page
title: CFR Team
footer_image: /img/cfr-footer-7.jpg
---

<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content">
          <h1 class="mb-5 editable">Winter 2018-19 Athletes</h1>
          <nav id="teamNav" class="subnav my-4">
            <ul class="nav nav-tabs flex-column flex-md-row justify-content-between" id="teamTabs">
              <li class="nav-item text-center">
                <a href="#tier1" id="tier-1-tab" data-toggle="tab" class="nav-link btn active">Tier 1 Team</a>
              </li>
              <li class="nav-item text-center">
                <a href="#tier2" id="tier-2-tab" data-toggle="tab" class="nav-link btn">Tier 2 Team</a>
              </li>
              <li class="nav-item text-center">
                <a href="#tier3" id="tier-3-tab" data-toggle="tab" class="nav-link btn">Tier 3 Team</a>
              </li>
              <li class="nav-item text-center">
                <a href="#social-team" id="social-tab" data-toggle="tab" class="nav-link btn">Social Team</a>
              </li>
              <li class="nav-item text-center">
                <a href="#industry-goats" id="goats-tab" data-toggle="tab" class="nav-link btn">Industry Goats</a>
              </li>
            </ul>
          </nav>
          <div class="tab-content">
            <div class="tab-pane fade show active" id="tier1" role="tabpanel" aria-labelledby="tier-1-tab">
              <div class="responsive-card-deck cards-md-2 cards-lg-4">
                {% for object in site.data.tier-1-team.team_members %}
                {% assign team = site.team_members | where: "slug", object | first %}
                <a href="{% if team.link %}{{ team.link }}{% endif %}" class="card" target="_blank" rel="noopener">
                  <div class="bg-image aspect-1x1 bg-white {% unless team.image %}bg-contain{% endunless %}" style="background-image: url({{ team.image | default: '/img/header-logo.png' | prepend: site.url }})">
                  </div>
                  <div class="card-body">
                    <h2 class="h4">{{ team.name }}</h2>
                    <p>{% for category in team.categories %}{{ category }}{%endfor %}</p>
                  </div>
                </a>
                {% endfor %}
              </div>
            </div>
            <div class="tab-pane fade" id="tier2" role="tabpanel" aria-labelledby="tier-2-tab">
              <div class="responsive-card-deck cards-md-2 cards-lg-4">
                {% for object in site.data.tier-2-team.team_members %}
                {% assign team = site.team_members | where: "slug", object | first %}
                <a href="{% if team.link %}{{ team.link }}{% endif %}" class="card" target="_blank" rel="noopener">
                  <div class="bg-image aspect-1x1 bg-white {% unless team.image %}bg-contain{% endunless %}" style="background-image: url({{ team.image | default: '/img/header-logo.png' | prepend: site.url }})">
                  </div>
                  <div class="card-body">
                    <h2 class="h4">{{ team.name }}</h2>
                    <p>{% for category in team.categories %}{{ category }}{%endfor %}</p>
                  </div>
                </a>
                {% endfor %}
              </div>
            </div>
            <div class="tab-pane fade" id="tier3" role="tabpanel" aria-labelledby="tier-2-tab">
              <div class="responsive-card-deck cards-md-2 cards-lg-4">
                {% for object in site.data.tier-3-team.team_members %}
                {% assign team = site.team_members | where: "slug", object | first %}
                <a href="{% if team.link %}{{ team.link }}{% endif %}" class="card" target="_blank" rel="noopener">
                  <div class="bg-image aspect-1x1 bg-white {% unless team.image %}bg-contain{% endunless %}" style="background-image: url({{ team.image | default: '/img/header-logo.png' | prepend: site.url }})">
                  </div>
                  <div class="card-body">
                    <h2 class="h4">{{ team.name }}</h2>
                    <p>{% for category in team.categories %}{{ category }}{%endfor %}</p>
                  </div>
                </a>
                {% endfor %}
              </div>
            </div>
            <div class="tab-pane fade" id="social-team" aria-labelledby="social-tab">
              <div class="responsive-card-deck cards-md-2 cards-lg-4">
                {% for object in site.data.social-team.team_members %}
                {% assign team = site.team_members | where: "slug", object | first %}
                <a href="{% if team.link %}{{ team.link }}{% endif %}" class="card" target="_blank" rel="noopener">
                  <div class="bg-image aspect-1x1 bg-white {% unless team.image %}bg-contain{% endunless %}" style="background-image: url({{ team.image | default: '/img/header-logo.png' | prepend: site.url }})">
                  </div>
                  <div class="card-body">
                    <h2 class="h4">{{ team.name }}</h2>
                    <p>{% for category in team.categories %}{{ category }}{%endfor %}</p>
                  </div>
                </a>
                {% endfor %}
              </div>
            </div>
            <div class="tab-pane fade" id="industry-goats" aria-labelledby="industry-goats">
              <div class="responsive-card-deck cards-md-2 cards-lg-4">
                {% for object in site.data.industry-goats.team_members %}
                {% assign team = site.team_members | where: "slug", object | first %}
                <a href="{% if team.link %}{{ team.link }}{% endif %}" class="card" target="_blank" rel="noopener">
                  <div class="bg-image aspect-1x1 bg-white {% unless team.image %}bg-contain{% endunless %}" style="background-image: url({{ team.image | default: '/img/header-logo.png' | prepend: site.url }})">
                  </div>
                  <div class="card-body">
                    <h2 class="h4">{{ team.name }}</h2>
                    <p>{% for category in team.categories %}{{ category }}{%endfor %}</p>
                  </div>
                </a>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="content text-center">
          <p><small>Please note: CFR Sponsorship Applications Will only be considered Between May 1st and September 1st.
              Please Hit us up in the Spring!</small></p>
        </div>
      </div>
    </div>
  </div>
</section>
