---
layout: page
title: Home
meta:
---

{% include home/featuredCollections.html %}
{% include home/getStoked.html %}
{% include home/snowmobileBrands.html %}
<section class="pt-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content">
          <h2>Most Popular Items</h2>
          <popular-products></popular-products>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="bg-image aspect-footer-hero" style="background-image: url(/img/cfr-footer-1.jpg)">
</div>
