---
layout: page
title: Home
meta:
product_collections:
footer_image: /img/cfr-footer-1.jpg
---

{% include home/featuredCollections.html %}
{% include home/getStoked.html %}
{% include home/snowmobileBrands.html %}
<section class="pt-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="editable">
          <h2>Most Popular Items</h2>
          <!-- <popular-products></popular-products> -->
        </div>
      </div>
    </div>
  </div>
</section>

