---
layout: page
title: Instructions
instruction_sections:
  - title: Example Section
    instructions:
      - _type: pdf
        title: Example instruction
        instruction_document: /uploads/cfr-instructions-d-dd-mounting.pdf
      - _type: video
        title: Example video
        video_embed: >-
          <iframe width="560" height="315"
          src="https://www.youtube.com/embed/39mcdq0Si98" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope;
          picture-in-picture" allowfullscreen></iframe>
---

<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="editable">
          <h1>Instructions</h1>
        </div>
      </div>
    </div>
    {% for section in page.instruction_sections %}
      <div class="row">
        <div class="col-12">
          <h2>{{ section.title }}</h2>
          {% for instruction in section.instructions %}
            <h3>{{ instruction.title }}</h3>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
</section>

