---
layout: page
title: Home
permalink: /
meta:
collections:
  - snowmobile
  - moto
footer_image: /img/cfr-footer-1.jpg
related_products:
  - boondocker-2-0
  - brett-turcotte-signature-bar-2020
  - mountain-rack
---

{% include home/featuredCollections.html %}
{% include home/apparelCTA.html %}
{% include home/getStoked.html %}
{% include home/snowmobileBrands.html %}
<section class="pt-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="editable">
          <div class="content editable">
            <h2>Most Popular Items</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="content">
          {% include components/product-related.html %}
        </div>
      </div>
    </div>
  </div>
</section>
