<div class="collapse navbar-collapse justify-content-md-end" id="primaryNav">
  
  <ul class="navbar-nav">
    {% for link in site.data.navigation.primary_navigation.navigation.links %}
    <li class="nav-item">
      <a class="nav-link" href="{{link.link}}">{{ link.label }}</a>
    </li>
    {% endfor %}
    {% for item in site.data.navigation.footer_navigation.navigation %}
      <li class="nav-item dropdown d-block d-md-none">
        <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false" href="#">{{ item.label }}</a>
        <div class="dropdown-menu">
          {% for link in item.links %}
            <a class="dropdown-item" href="{{ link.link }}">{{ link.label }}</a>
          {% endfor %}
        </div>
      </li>
    {% endfor %}
    <div class="nav-item">
      <search-feature></search-feature>
    </div>
  </ul>
</div>