<div class="collapse navbar-collapse justify-content-md-end" id="primaryNav">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/collections/snowmobile">Snowmobile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/collections/apparel">Apparel</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/get-stoked">Get Stoked!</a>
    </li>
    
    <li class="nav-item dropdown d-block d-md-none">
      <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false" href="#">Company</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/brochure">Bro-Sure</a>
        <a class="dropdown-item" href="/handlebar-guide">Bar guide</a>
        <a class="dropdown-item" href="/legal">Legal</a>
      </div>
    </li>
    <li class="nav-item dropdown d-block d-md-none">
      <a class="nav-link dropdown-toggle" href="#" id="community-dropdown" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">Community</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/cfr-team">
          CFR Team
        </a>
        <a class="dropdown-item" href="/cfr-homies">
          CFR Homies
        </a>
        <a class="dropdown-item" href="/about-cfr">
          About CFR
        </a>
      </div>
    </li>
    <li class="nav-item">
      <button id="search-toggle" class="nav-link border-0 bg-transparent" data-toggle="modal" data-toggle="modal" data-target="#modal-search"><i class="ri-search-line"></i> Search</button>
    </li>
  </ul>
</div>