---
layout: default
footer_image: /img/cfr-footer-4.jpg
---

{% assign product = page %}
{% assign collection_url = null %}
{% assign title = product.name | default: product.title %}
{% include logic/relativeURL.html url=product.featured_image %}


<!-- get collection instance -->
{% for collection in site.product_collections %}
  {% for object in collection.products %}
    {% if object == product.slug %}
      {% assign collection_url = collection.url %}
      {% break %}
    {% endif %}
  {% endfor %}
{% endfor %}

<section class="py-0">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-5 col-xl-4 order-1 order-lg-8 pt-lg-5 bg-dark bg-bleed text-white">
        <div class="p-3 pt-5 pt-lg-3">
          <a href="{{ collection_url }}?filter={{ product.categories.first | slugify }}" class="mb-0 text-uppercase text-white-50">
            {{ product.categories.first }}
          </a>
          <h1 class="h4 mb-3">{{ title }}</h1>
          {% if product.sidebar_disclaimer_html %}
            <div class="alert alert-danger" role="alert">
              {{ product.sidebar_disclaimer_html }}
            </div>
          {% endif %}
          {% include components/product-form.html %}
          
          <h5 class="text-uppercase">Share this</h5>
          <p class="product-social">
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ page.slug | prepend: site.url }}" target="_blank"
              rel="noopener" class="text-white mr-2" aria-label="Facebook Share Link">
              <i class="ri-facebook-fill"></i>
            </a>
            <a href="https://twitter.com/intent/tweet?url={{ page.slug | prepend: site.url }}" target="_blank" rel="noopener"
              class="text-white mr-2" aria-label="Twitter Share Link">
              <i class="ri-twitter-fill"></i>
            </a>
          </p>
        </div>
      </div>
      <div class="col-12 col-lg-7 col-xl-8 order-4 order-lg-1">
        <div class="py-5 pr-4 d-none d-lg-block">
          <h3>
            <a href="{{ collection_url }}?filter={{ product.categories.first | slugify }}" class="text-dark">{{ product.categories.first }}</a>
            <small>&nbsp;/&nbsp;{{ title }}</small>
          </h3>
          <!-- <img id="featured-image" src="{{ relativeURL }}" alt="{{ product.title }}" class="img-fluid" /> -->
          <div id="carousel-product-images" class="carousel slide carousel-fade" data-ride="carousel" data-interval="false">
            {% if page.gallery %}
            <ol class="carousel-indicators">
              
              <li data-target="#carousel-product-images" data-slide-to="0" class="active"></li>
              {% for image in page.gallery %}
                <li data-target="#carousel-product-images" data-slide-to="{{ forloop.index }}"></li>
              {% endfor %}
              
            </ol>
            {% endif %}
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="bg-image bg-white aspect-16x9 mb-3 bg-contain" style="background-image: url({{ relativeURL }})"></div>
                <!-- <img id="featured-image" src="{{ relativeURL }}" alt="{{ product.title }}" class="img-fluid" /> -->
              </div>
              {% if page.gallery %}
                {% for item in page.gallery %}
                {% capture image  %}
                  {% include logic/relativeURL.html url=item.image %}
                {% endcapture %}
                <div class="carousel-item">
                  <div class="bg-image bg-white aspect-4x3 bg-contain" style="background-image: url({{ relativeURL }})"></div>
                </div>
                {% endfor %}
              {% endif %}
            </div>
            {% if page.gallery %}
            <a class="carousel-control-prev" href="#carousel-product-images" role="button" data-slide="prev">
              <i class="ri-arrow-left-s-line"></i>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-product-images" role="button" data-slide="next">
              <i class="ri-arrow-right-s-line"></i>
              <span class="sr-only">Next</span>
            </a>
            {% endif %}
          </div>
        </div>
        <div class="py-5 pr-4">
          <h1 class="mt-lg-5 mb-lg-3">{{ title }}</h1>
          {% if product.disclaimer_html %}
            <div class="alert alert-danger" role="alert">
              {{ product.disclaimer_html }}
            </div>
          {% endif %}
          {{ product.content }}
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content">
          <h3>Related Products</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        {% include components/product-related.html %}
      </div>
    </div>
  </div>
</section>

