---
layout: default
footer_image: /img/cfr-footer-2.jpg
---

<section class="py-0">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8 order-2 order-lg-1">
        <div class="py-3 py-lg-5">
          <h4>{{ page.title }}</h4>
          <div id="product-grid" class="responsive-card-deck cards-lg-3 cards-md-2">
            {% for object in page.products %}
            {% assign product = site.products | where: 'slug', object | first %}
            <a href="{{ product.url }}" class="card {% for category in product.categories %}{{ category | slugify }}{% endfor %} {% for brand in product.brands %}{{ brand | slugify }} {% endfor %} mix">
            <div class="card-image-wrapper">
              <div class="bg-image aspect-4x3" style="background-image: url({% if product.featured_image contains '//' %}{{ product.featured_image }}{% else %}{{ product.featured_image | prepend: site.url }}{% endif %})"></div>
            </div>
            <div class="card-footer">
              <p class="text-uppercase mb-0">
                {% for category in product.categories limit: 1 %}
                  {{ category }}
                {% endfor %}
              </p>
              <h5 class="card-title mb-0">{{ product.name | default: product.title }}</h5>
              <p class="card-text">
                From $0.00
              </p>
            </div>
            </a>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4 sidebar order-1 order-lg-2">
        <div class="py-3 py-lg-5 px-3 position-sticky sticky-top">
          <nav class="collectionNav">
            <h2>Product Categories</h2>

            <ul class="nav flex-column">
              <li class="text-uppercase" data-filter="all">
                <button data-filter="all">All</button>
              </li>
              {% assign categories = "" | split:"," %}
              {% for object in page.products %}
              {% assign product = site.products | where: 'slug', object | first %}
                {% for category in product.categories %}
                  {% assign categories = categories | push: category %}
                {% endfor %}
              {% endfor %}
              {% assign categories = categories | uniq %}
              {% for item in categories %}
                <li class="text-uppercase">
                  <button data-filter=".{{ item | slugify }}">{{ item }}</button>
                </li>
              {% endfor %}
            </ul>

            <h3>Brands</h3>

            <ul class="nav flex-column">
              <li>
                <button data-filter="all">All Brands</button>
              </li>
              {% for brand in site.brands %}
                <li class="text-uppercase">
                  <button data-filter=".{{ brand | slugify }}">{{ brand }}</button>
                </li>
              {% endfor %}
            </ul>

          </nav>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="bg-image aspect-footer-hero" style="background-image: url({{ layout.footer_image | prepend: site.url }})">
</div>
