<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content">
          <h3>Related Products</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="content">
          <div class="responsive-card-deck cards-lg-3 cards-md-2">
            {% for object in page.related_products limit: 6 %}
              {% assign related = site.products | where: 'slug', object | first %}
              <a class="card" href="{{ object.url }}">
                <div class="card-image-wrapper">
                  <div class="bg-image aspect-4x3" style="background-image: url({{ related.featured_image }})"></div>
                </div>
                <div class="card-footer">
                  <p class="text-uppercase mb-0">
                    {{ related.categories.first }}
                  </p>
                  <h5 class="card-title mb-0">{{ related.name | default: object.title }}</h5>
                  <p class="card-text">
                    From $0.00
                  </p>
                </div>
              </a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>