  {% assign brands = "" | split:"," %}
  {% assign categories = "" | split:"," %}
  {% for object in page.products %}

    {% assign product = site.products | where: 'slug', object | first %}
    {% for brand in product.brands %}
      {% assign brands = brands | push: brand %}
    {% endfor %}
    {% for category in product.categories %}
      {% assign categories = categories | push: category %}
    {% endfor %}
  {% endfor %}
  {% assign brands = brands | uniq %}
  {% assign categories = categories | uniq %}
<collection-filters>
  <div class="alert alert-mid d-flex align-items-center d-md-none">
    <button type="button" class="btn text-inherit">
      <i class="ri-filter-3-line"></i>
    </button>
  </div>
  <nav class="collectionNav">
    <div class="d-block">
      <!-- Categories -->
      <div class="d-flex align-items-center mb-2">
        <h2 class="m-0"><span class="d-md-none d-lg-inline-block">Product&nbsp;</span>Categories</h2>
        <button type="button" class="ml-2 text-mid">
          <small>(view all)</small>
        </button>
      </div>
      <ul class="nav flex-column">
        {% for category in categories %}
        <li class="text-uppercase">
          <button type="button">{{category}}</button>
        </li>
        {% endfor %}
      </ul>

      <!-- Brands -->
      <div class="d-flex align-items-center mb-2">
        <h2 class="m-0">Brands</h2>
        <button type="button" class="ml-2 text-mid">
          <small>(view all)</small>
        </button>
      </div>
      <ul class="nav flex-column">
        {% for brand in brands %}
        <li class="text-uppercase">
          <button type="button">{{ brand }}</button>
        </li>
        {% endfor %}
      </ul>
    </div>
  </nav>
</collection-filters>