<product-form>
  <form>
    <div class="row">
      <div class="col-12">
        <!-- ProductVariant -->
        <p class="lead">[Price Range]</p>
        <div class="bg-image aspect-4x3 mb-3"
          style="background-image: url('https://via.placeholder.com/500?text=Variant+Image')"></div>
        {% include components/option-selector.html %}
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="my-4">
          <!-- Suggested Products -->
          {% if product.suggested_products %}
            {% for object in product.suggested_products %}
            {% assign suggested = site.products | where: 'slug', object | first %}
              <div class="addOn">
                <div class="col-4 bg-white">
                  <div class='bg-image bg-white aspect-4x3' style="background-image: url('{{ suggested.featured_image }}')"></div>
                </div>
                <div class="col-1"><i class="ri-shopping-cart-fill"></i></div>
                <div class="col-7"><small>Add {{ suggested.title }}</small></div>
              </div>
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-success btn-large btn-block mb-3 mb-lg-5">
      Add to Cart
    </button>
  </form>
</product-form>