<product-grid>
  <div id="product-grid" class="responsive-card-deck cards-lg-3 cards-md-2">
    {% for object in page.products %}
    {% assign product = site.products | where: 'slug', object | first %}
    {% include logic/relativeURL.html url=product.featured_image %}
    <a href="{{ product.url }}"
      class="card {% for category in product.categories %}{{ category | slugify }}{% endfor %} {% for brand in product.brands %}{{ brand | slugify }} {% endfor %} mix">
      <div class="card-image-wrapper">
        <div class="bg-image aspect-4x3"
          style="background-image: url('{{ relativeURL }}')">
        </div>
      </div>
      <div class="card-footer">
        <p class="text-uppercase mb-0">
          {% for category in product.categories limit: 1 %}
          {{ category }}
          {% endfor %}
        </p>
        <h5 class="card-title mb-0">{{ product.name | default: product.title }}</h5>
        <p class="card-text">
          [Price Range]
        </p>
      </div>
    </a>
    {% endfor %}
  </div>
</product-grid>