<product-form>
  <p class="lead mt-3">$0.00</p>
  <div class="bg-image aspect-4x3 mb-3"
    style="background-image: url('https://via.placeholder.com/500?text=Variant+Image')"></div>
  <div class="form-group">
    <label>Quantity</label>
    <input type="number" id="quantity" name="quantity" min="1" step="1" class="form-control" />
  </div>
  <br />
  {% if product.suggested_products %}
  {% for object in product.suggested_products %}
  {% assign suggested = site.products | where: 'slug', object | first %}
  {% include logic/relativeURL.html url=suggested.featured_image %}


    <div class="d-flex align-items-center justify-content-between bg-light text-dark border border-dark">
      <div class="col-4 bg-white">
        <div class="bg-image aspect-4x3" style="background-image: url('{{ relativeURL }}')"></div>
      </div>
      <div class="col-1"><i class="ri-add-circle-line"></i></div>
      <div class="col-7"><small>Add {{ suggested.name }}</small></div>
    </div>

  {% endfor %}
  {% endif %}
  <button type="submit" class="btn btn-primary my-3 my-lg-5">
    Add to Cart
  </button>
</product-form>