<div id="modal-search" class="py-3 search-bar modal fade">
  <div class="d-flex align-items-center justify-content-center h-100">
    <div class="modal-dialog">
      <div class="modal-content rounded-0">
        <button type="button" class="close text-right px-2" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="font-weight-light">&times;</span>
        </button>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <form action="/search/" method="GET">
                  <div class="form-group d-flex mb-0">
                    <input required type="search" class="form-control border-radius-0" name="q" placeholder="Search..." />
                    <button type="submit" class="btn btn-primary">Search</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  
  
</div>