// Color Palette
$white: #ffffff !default;
$gray-100: #efefef;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #b9b9b9;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #747474;
$gray-900: #151515 !default;
$black: #000000;

$blue: #1b68ff;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #ff3231;
$red-dull: #925a59;
$orange: #fd7e14 !default;
$yellow: #f5c938;
$green: #34e218;
$teal: #20c997 !default;
$cyan: #7dd0e8 !default;

$primary: $red;
$secondary: $blue;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100;
$darken: $gray-300;
$mid: $gray-400;
$lighten: $gray-800;
$dark: $gray-900;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $green,
  "info": $cyan,
  "warning": $yellow,
  "danger": $red,
  "light": $light,
  "darken": $darken,
  "mid": $mid,
  "lighten": $lighten,
  "dark": $dark,
  "black": $black,
);

$body-bg: $white;
$body-color: $black;

$font-family-base: "Work Sans", sans-serif;

$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg: ($font-size-base * 1.25) !default;
$font-size-sm: ($font-size-base * 0.875) !default;

$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;

$font-weight-base: $font-weight-normal !default;
$line-height-base: 1.5 !default;

$h1-font-size: $font-size-base * 2.5 !default;
$h2-font-size: $font-size-base * 2 !default;
$h3-font-size: $font-size-base * 1.75 !default;
$h4-font-size: $font-size-base * 1.5 !default;
$h5-font-size: $font-size-base * 1.25 !default;
$h6-font-size: $font-size-base !default;

$headings-font-family: "Oswald", sans-serif;
$headings-font-weight: 400;
$headings-line-height: 1.2 !default;
$headings-color: inherit !default;

$border-radius: 0;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px,
) !default;

$container-max-widths: (
  sm: 540px,
  md: 800px,
  lg: 960px,
  xl: 1140px,
  xxl: 1400px,
) !default;

$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;
$screen-xxl-min: 1400px;

$grid-columns: 12;
$grid-gutter-width: 30px;

// Toastr
$toastr-width: 350px !default;
$successBgColor: $secondary;
$infoBgColor: $info;
$warningBgColor: $warning;
$errorBgColor: $danger;
$defaultSpace: 10px;
