#pageHeader {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  height: 100px;
  z-index: 1000;
  @include media-breakpoint-up(md) {
    height: 125px;
  }
  .navbar-brand {
    color: $dark;
    width: 125px;
    margin-top: -40px;
  }
}

#pageContent {
  padding-top: 100px;
  @include transition(padding-top, 0.5s);
  @include media-breakpoint-up(md) {
    padding-top: 125px;
  }
}
#pageFooter {
  h4 {
    color: $white;
    font-weight: 800;
    margin-bottom: 15px;
  }
  .nav-link {
    padding: 3px 0;
    color: $gray-100;
    @include media-breakpoint-down(md) {
      padding-top: 3px;
      padding-bottom: 3px;
    }
  }
  .social-nav {
    i {
      color: $white;
      font-size: 23px;
    }
  }
  .navbar-brand {
    @include media-breakpoint-down(md) {
      max-width: 100px;
    }
  }
}

.navbar-toggler {
  padding: 0;
  z-index: 1000;
  position: relative;
  &:focus {
    outline: none;
  }
  .navbar-toggler-icon {
    background-image: none;
    .icon-bar {
      &:nth-of-type(1) {
        top: 10px;
        transform: rotate(0);
      }
      &:nth-of-type(2) {
        top: 16px;
        transform: rotate(0);
      }
      &:nth-of-type(3) {
        top: 22px;
        opacity: 1;
      }
    }
  }
  // &.collapsed {

  // }

  .navbar-toggler-icon {
    position: relative;
    height: 36px;
    width: 40px;
    padding: 10px;
    background-color: transparent;
    overflow: hidden;
    .icon-bar {
      width: 18px;
      height: 2px;
      background-color: $white;
      position: absolute;
      left: 10px;
      z-index: 1000;
      @include transition(0.5s);
      // &:nth-of-type(1) {
      //   top: 16px;
      //   transform: rotate(45deg);
      // }
      // &:nth-of-type(2) {
      //   top: 16px;
      //   transform: rotate(-45deg);
      // }
      // &:nth-of-type(3) {
      //   top: 12px;
      //   opacity: 0;
      // }
    }
  }
}

.dropdown-menu {
  background-color: transparent;
  border: 0;
  .dropdown-item {
    color: $white;
    padding-left: 15px;
    padding-right: 15px;
    &:hover {
      color: $black;
    }
  }
}
