// @TODO: Refactor this... currently this partial is not being imported
user-nav,
notification-nav,
usa-canada,
my-account,
cart-component,
product-form,
related-products {
  height: 20px;
  width: auto;
  display: flex;
  align-items: center;
  color: $white;
  padding: 20px;
}

usa-canada {
  &::before {
    content: "USA/CAN";
  }
}

my-account {
  &::before {
    content: "My Account";
  }
}

cart-component {
  &::before {
    content: "\f080";
    font-family: "remixicon" !important;
  }
}

notification-nav {
  &::before {
    content: "notifications";
  }
}

cart-summary {
  background-color: $primary;
  display: flex;
  align-items: center;
  color: $white;
  width: auto;
  padding: 10px;
  &::before {
    content: "Cart";
  }
}

popular-products {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 350px;
  background-color: $black;
  &::before {
    color: $white;
    content: "Popular Products";
  }
}

product-form {
  background-color: $dark;
  margin-bottom: 20px;
  &::after {
    text-align: center;
    content: "Product Form";
    color: $white;
  }
}

collection-nav {
  background-color: $dark;
  margin-bottom: 20px;
  &::after {
    text-align: center;
    content: "Collection Nav";
    color: $white;
  }
}

related-products {
  height: 300px;
  text-align: center;
  background-color: $dark;
  justify-content: center;
  &::after {
    content: "Related Products Component";
    text-align: center;
  }
}
