.collectionNav {
  .nav-item {
    margin-bottom: 10px;
    
    &:hover {
      cursor: pointer;
    }
    
  }
  button {
    border: 0;
    background-color: transparent;
    text-transform: uppercase;
    color: $white;
    padding: 0;
    &.mixitup-control-active {
      font-weight: 800;
      font-family: $headings-font-family;
    }
  }
}

.product_collection {
  &.mixitup-container-failed {
    #product-grid {
      &::after {
        content: 'No products match this filter';
        margin-left: 15px;
      }
    }
  }
}