.collectionNav {
  .nav-item {
    margin-bottom: 10px;
    
    &:hover {
      cursor: pointer;
    }
    &.active {
      font-weight: 800;
      font-family: $headings-font-family;
    }
  }
  button {
    border: 0;
    background-color: transparent;
    text-transform: uppercase;
    color: $white;
    padding: 0;
  }
}

.product_collection {
  
}