<section class="bg-image aspect-none bg-white" style="background-image: url(/img/bg-intro.png)">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content">
          <div class="responsive-card-deck cards-md-2 cards-lg-2">
            <a href="/snowmobile" class="card mb-3 mb-lg-0">
              <div class="bg-image aspect-1x1" style="background-image: url(/img/snowmobile-collection.jpg)">
                <div class="overlay hover-overlay">
                  <div class="overlay-content">
                    <div class="hover-secondary-text">Shop</div>
                    <div class="hover-primary-text">Snowmobile</div>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <h2>Snowmobile</h2>
                <p class="mb-0 text-uppercase">
                  Handlebars / Racks / Brackets / Bags
                </p>
              </div>
              <div class="card-footer pt-0">
                <button class="btn btn-primary">Shop</button>
              </div>
            </a>
            <a href="/apparel" class="card mb-3 mb-lg-0">
              <div class="bg-image aspect-1x1" style="background-image: url(/img/Goat-Skull-Couple.jpg)">
                <div class="overlay hover-overlay">
                  <div class="overlay-content">
                    <div class="hover-secondary-text">Shop</div>
                    <div class="hover-primary-text">Apparel</div>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <h2>Apparel</h2>
                <p class="mb-0 text-uppercase">Men / Women / Accessories</p>
              </div>
              <div class="card-footer pt-0">
                <button class="btn btn-primary">Shop</button>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>