<section class="bg-image aspect-none bg-white" style="background-image: url({{ '/img/bg-intro.png' | prepend: site.url }})">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content">
          <div class="responsive-card-deck cards-md-2 cards-lg-2">
            {% for object in page.collections %}
            {% assign collection = site.product_collections | where: 'slug', object | first %}
            <a href="{{ collection.url }}" class="card mb-3 mb-lg-0">
              <div class="bg-image aspect-1x1" style="background-image: url('{{ collection.featured_image | prepend: site.url }}')">
                <div class="overlay hover-overlay">
                  <div class="overlay-content">
                    <div class="hover-secondary-text">Shop</div>
                    <div class="hover-primary-text">{{ collection.title }}</div>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <h2>{{ collection.title }}</h2>
                <p class="mb-0 text-uppercase">
                  {{ collection.label }}
                </p>
              </div>
              <div class="card-footer pt-0">
                <button class="btn btn-secondary">Shop</button>
              </div>
            </a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>