<div class="infinite-slider-wrapper">
  <div class="infinite-slider-text">
    <span>Get Stoked!</span>
  </div>
  <div class="instagram-handle">
    <a href="https://www.instagram.com/cheetah_snow/" target="blank" rel="noopener" class=" d-flex">
      <div class="insta-icon">
        <i class="ri-instagram-line text-white"></i>
      </div>
      <div class="insta-handle-name">
        @cheetah_snow
      </div>
    </a>
  </div>
  <div class="infinite-slider">
    <div class="mover-1">
    </div>

    <a href="/pages/get-stoked" class="overlay hover-overlay">
      <div class="overlay-content">
        <div class="hover-primary-text">Stoke up yer stoke!</div>
        <div class="hover-secondary-text">Check out what's happening in the world of CFR</div>
      </div>
    </a>
  </div>
</div>