<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content">
          <h2>Shop by Brand</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="content">
          <div class="responsive-card-deck cards-md-2 cards-lg-2">
            <a href="/snowmobile?category=polaris" class="card">
            <div Tag="div" class="bg-image aspect-2x1" style="background-image: url({{ '/img/polaris.png' | prepend: site.url }})">
              <div class="overlay overlay-blue">
                <div class="overlay-content">
                  <h3 class="h1">Polaris</h3>
                </div>
              </div>
            </div>
            <div class="card-body">
              <p class="text-uppercase mb-0">Shop by brand</p>
              <h2>Polaris</h2>
              <p class="text-uppercase">
                Handlebars / Wraps / Racks
              </p>
            </div>
            </a>
            <a href="/snowmobile?category=arctic-cat" class="card">
              <div class="bg-image aspect-2x1" style="background-image: url({{ '/img/arctic-cat.png' | prepend: site.url }})">
                <div class="overlay overlay-green">
                  <div class="overlay-content">
                    <h3 class="h1">Arctic Cat</h3>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <p class="text-uppercase mb-0">Shop by brand</p>
                <h2>Arctic Cat</h2>
                <p class="text-uppercase">
                  Handlebars / Racks / Wraps
                </p>
              </div>
            </a>
            <a href="/snowmobile?category=ski-doo" class="card">
              <div class="bg-image aspect-2x1" style="background-image: url({{ '/img/ski-doo.png' | prepend: site.url }})">
                <div class="overlay overlay-yellow">
                  <div class="overlay-content">
                    <h3 class="h1">Ski-Doo</h3>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <p class="text-uppercase mb-0">Shop by brand</p>
                <h2>Ski-Doo</h2>
                <p class="text-uppercase">
                  Handlebars / Racks / Bags
                </p>
              </div>
            </a>
            <a href="/snowmobile?category=yamaha" class="card">
              <div class="bg-image aspect-2x1" style="background-image: url({{ '/img/yamaha.png' | prepend: site.url }})">
                <div class="overlay overlay-red">
                  <div class="overlay-content">
                    <h3 class="h1">Yamaha</h3>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <p class="text-uppercase mb-0">Shop by brand</p>
                <h2>Yamaha</h2>
                <p class="text-uppercase">
                  Handlebars / Racks / Wraps
                </p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>